<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/CrackerakiUA/ui-cropper/master/compile/minified/ui-cropper.css">

    
    <style>

        label{
            margin-bottom:0px;
        }

        body {
            background-color: white;
        }

        .navbar {
            background-color: deepskyblue;
        }

        .titleText {
            color: white;
            font-weight: bold;
            font-size: 30px;
            font-family: Calibri;
        }

        .linkText {
            color: white;
            font-weight: bold;
            font-size: 20px;
            font-family: Calibri;
        }

        .companyLogo1 {
            width: 100%;
        }

        .companyLogo2 {
            width: 70%;
            padding-bottom: 7px;
        }

        .img-responsive {
            /*width: 100%*/
        }

        input{
            margin-top: 3px;
        }

        .cropArea {
            background: #E4E4E4;
            overflow: hidden;
            width: 500px;
            height: 350px;
        }

        .padding-0 {
            padding-right: 0;
            padding-left: 0;
        }

        .currencyinput {
            border: 1px inset #ccc;
        }

        .currencyinput input {
            border: 0;
        }


    </style>
    <meta charset="utf-8" />
    <title></title>


    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107632470-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-107632470-1');
    </script>



</head>
<body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
    <script src="https://rawgit.com/CrackerakiUA/ui-cropper/master/compile/unminified/ui-cropper.js"></script>
    <script src="create.js"></script>

    <!--navbar-->

    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand titleText" href="/content/index.html">SurfEngine.io</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
                    <li><a class="linkText" href="/Content/index.html">Index</a></li>
                    <li><a class="linkText" href="/Content/Create.html">Create</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div ng-app="MainApp">
        <div ng-controller="PostController as vm" class="row col-xs-offset-1 col-xs-10 well">

            <pre>{{vm.item|json}}</pre>

            <div class="col-xs-12" style="height: 10px"></div> <!--whitespace-->


            <form name="vm.registrationForm" class="col-xs-12" novalidate>
                <div class="col-xs-12">

                    <div class="col-xs-6"> <!--images-->
                        <div class="col-xs-8 padding-0" style="z-index:2;" data-toggle="modal" data-target="#myModal">
                            <a href="">
                                <img class="img-responsive companyLogo1" ng-src="{{vm.item.image1 || '/Images/camera.jpg' }}" alt="">
                            </a>
                        </div>
                  



                        <div class="col-xs-4">
                            <div class="col-xs-12 padding-0" style="z-index:2;" data-toggle="modal" data-target="#myModal2">
                                <a href="">
                                    <img class="img-responsive companyLogo2" ng-src="{{vm.item.image2 || '/Images/camera.jpg' }}" alt="">
                                </a>
                            </div>

                            <div class="col-xs-12 padding-0" style="z-index:2;" data-toggle="modal" data-target="#myModal3">
                                <a href="">
                                    <img class="img-responsive companyLogo2" ng-src="{{vm.item.image3 || '/Images/camera.jpg' }}" alt="">
                                </a>
                            </div>

                            <div class="col-xs-12 padding-0" style="z-index:2;" data-toggle="modal" data-target="#myModal4">
                                <a href="">
                                    <img class="img-responsive companyLogo2" ng-src="{{vm.item.image4 || '/Images/camera.jpg' }}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>



                    <div class="col-xs-6" style="height: 0px"></div> <!--whitespace-->

                    <div class="col-xs-6">
                        <div class="form-group col-xs-12" ng-class="{'has-error' :  vm.showValidationError('brand')}">
                            <label>Brand</label>
                            <input name="brand" type="text" class="form-control " ng-model="vm.item.brand" required placeholder="ex/ Al Merrick" />
                            <!--<span ng-show="(vm.showValidationError('brand'))" class="help-block">Please enter the brand</span>-->
                        </div>
                        <div class="form-group col-xs-12" ng-class="{'has-error' : vm.showValidationError('name')}">
                            <label>Model Name</label>
                            <input name="name" type="text" class="form-control " ng-model="vm.item.name" required placeholder="ex/ Flyer" />
                            <!--<p ng-show="vm.showValidationError('name')" class="help-block">Please enter the model name</p>-->
                        </div>
                        <div class="form-group col-xs-12" ng-class="{'has-error' : vm.showValidationError('shape')}">
                            <label>Shape</label>
                            <select class="form-control  btn-default mySelect" name="shape" ng-model="vm.item.shape" required>
                                <option value="">&nbsp;</option>
                                <option value="Shortborad">Shortborad</option>
                                <option value="Longboard">Longboard</option>
                                <option value="Fish">Fish</option>
                                <option value="Gun">Gun</option>
                                <option value="Funboard">Funboard</option>
                                <option value="Hybrid">Hybrid</option>
                                <option value="Other">Other</option>


                            </select>
                            <!--<p ng-show="vm.showValidationError('shape')" class="help-block">Please select a shape</p>-->
                        </div>









                        <div class="form-group col-xs-3" style="padding-right:0;" ng-class="{'has-error' : vm.showValidationError('height1')}">
                            <label>Feet</label>
                            <select class="form-control  btn-default mySelect" name="height1" ng-model="vm.item.height1" required>
                                <option value="">&nbsp;</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                                <option value=10>10</option>
                                <option value=11>11</option>
                                <option value=12>12</option>
                                <option value=13>13</option>
                                <option value=14>14</option>
                            </select>
                            <!--<p ng-show="vm.showValidationError('height1')" class="help-block">Enter Feet</p>-->
                        </div>
                        <div class="form-group col-xs-3" style="padding-left:0;" ng-class="{'has-error' : vm.showValidationError('height2')}">
                            <label>Inches</label>
                            <select class="form-control  btn-default mySelect" name="height2" ng-model="vm.item.height2" required>
                                <option value="">&nbsp;</option>
                                <option value=0>0</option>
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                                <option value=10>10</option>
                                <option value=11>11</option>
                            </select>
                            <!--<p ng-show="vm.showValidationError('height2')" class="help-block">Enter Inches</p>-->
                        </div>






                        <div class="form-group col-xs-3" style="padding-right:0;" ng-class="{'has-error' : vm.showValidationError('width1')}">
                                <label>Width</label>
                                <select class="form-control  btn-default mySelect" name="width1" ng-model="vm.item.width1" required>
                                    <option value="">&nbsp;</option>
                                    <option value=12>12</option>
                                    <option value=13>13</option>
                                    <option value=14>14</option>
                                    <option value=15>15</option>
                                    <option value=16>16</option>
                                    <option value=17>17</option>
                                    <option value=18>18</option>
                                    <option value=19>19</option>
                                    <option value=20>20</option>
                                    <option value=21>21</option>
                                    <option value=22>22</option>
                                    <option value=23>23</option>
                                    <option value=24>24</option>
                                    <option value=25>25</option>
                                    <option value=26>26</option>
                                    <option value=27>27</option>
                                    <option value=28>28</option>
                                    <option value=29>29</option>
                                    <option value=30>30</option>
                                    <option value=31>31</option>
                                    <option value=32>32</option>
                                    <option value=33>33</option>
                                    <option value=34>34</option>
                                    <option value=35>35</option>
                                </select>
                                <!--<p ng-show="vm.showValidationError('width1')" class="help-block">Please select a width</p>-->
                        </div>
                        <div class="form-group col-xs-3"  style="padding-left:0;" ng-class="{'has-error' : vm.showValidationError('width2')}">
                            <label>&nbsp;</label>
                            <select class="form-control  btn-default mySelect" name="width2" ng-model="vm.item.width2" required>
                                <option value="">&nbsp;</option>
                                <option value=0.5>0 </option>
                                <option value=0.5>1/2 </option>
                                <option value=0.25>1/4 </option>
                                <option value=0.75>3/4 </option>
                                <option value=0.125>1/8 </option>
                                <option value=0.375>3/8 </option>
                                <option value=0.625>5/8 </option>
                                <option value=0.875>7/8 </option>
                                <option value=0.0625>1/16 </option>
                                <option value=0.1875>3/16 </option>
                                <option value=0.3125>5/16 </option>
                                <option value=0.4375>7/16 </option>
                                <option value=0.5625>9/16 </option>
                                <option value=0.6875>11/16 </option>
                                <option value=0.8125>13/16 </option>
                                <option value=0.9375>15/16 </option>
                            </select>
                            <!--<p ng-show="vm.showValidationError('width2')" class="help-block">Please select a width</p>-->
                        </div>
                        



                        <div class="form-group col-xs-6" style="padding-right:0;" ng-class="{'has-error' : vm.showValidationError('volume')}">
                            <label>Volume</label>
                            <input type="number" name="volume" class="form-control " ng-model="vm.item.volume" required placeholder="ex/ 27.5" />
                            <!--<p ng-show="vm.showValidationError('volume1')" class="help-block">Please select a volume</p>-->
                        </div>


                            <!--<input type="number" name="price" class="form-control " ng-model="vm.item.price" required placeholder="ex/ 27.5" />-->
                            <!--<p ng-show="vm.showValidationError('price')" class="help-block">Please select a price</p>-->

                        <div class="form-group col-xs-6" style="padding-right:0;" ng-class="{'has-error' : vm.showValidationError('price')}">
                            <label>Price ($USD)</label>
                            <input type="number" name="price" class="form-control" ng-model="vm.item.price" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" name="itemConsumption" />

                            <!--<p ng-show="vm.showValidationError('price1')" class="help-block">Please select a price</p>-->
                        </div>






                        <div class="form-group col-xs-6" ng-class="{'has-error' : vm.showValidationError('city')}">
                            <label>City</label>
                            <select class="form-control  btn-default mySelect" name="city" ng-model="vm.item.city" required>
                                <option value="">&nbsp;</option>
                                <option value="losangeles">Los Angeles</option>
                                <option value="orangecounty">Orange County</option>
                                <option value="sandiego">San Diego</option>
                                <option value="sfbay">SF Bay / Santa Cruz</option>
                            </select>
                            <!--<p ng-show="vm.showValidationError('city')" class="help-block">Please select a city</p>-->
                        </div>
                        <div class="form-group col-xs-6" ng-class="{'has-error' : vm.showValidationError('zip')}">
                            <label>Zip</label>
                            <input type="text" name="zip" class="form-control " ng-model="vm.item.zip" required placeholder="ex/ 12345" minlength="5" maxlength="5" />
                            <p ng-show="vm.showValidationError('zip')" class="help-block">Must be 5 digits</p>
                        </div>
                    </div>


                    <div class="col-xs-12" style="height:25px;"></div> <!--whitespace-->

                    <div class="col-xs-12">
                        <label>Description</label>
                        <textarea class="form-control" rows="8" ng-model="vm.item.description" placeholder=""></textarea>
                    </div>
                </div>



                <!--buttons-->

                <div class="col-xs-12" style="height:45px;"></div> <!--whitespace-->

                <div class="col-xs-offset-6 col-xs-5" ng-show="vm.showEdit == false">
                    <button type="submit" class="btn btn-lg btn-success col-xs-offset-6 col-xs-5 saveBtn" ng-click="vm.save(vm.registrationForm)">Save</button>   <!-- mouseover will not work with my save button if ng-disabled="registrationForm.$invalid" is in effect. I have a trade off of whether I want mouseover or disabled save to work. -->
                </div>

                <div class="col-xs-12" ng-show="vm.showEdit == true">
                    <button type="submit" class="btn btn-danger col-xs-4 editBtn" ng-click="vm.delete(vm.registrationForm)">Delete</button>   <!-- mouseover will not work with my save button if ng-disabled="registrationForm.$invalid" is in effect. I have a trade off of whether I want mouseover or disabled save to work. -->
                    <button type="submit" class="btn btn-primary col-xs-4 editBtn" ng-click="vm.edit(vm.registrationForm)">Edit</button>   <!-- mouseover will not work with my save button if ng-disabled="registrationForm.$invalid" is in effect. I have a trade off of whether I want mouseover or disabled save to work. -->
                </div>
            </form>






            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                            <h3>Upload Logo</h3>
                            <div>Select a Logo file: <input type="file" id="fileInput" accept="image/x-png,image/gif,image/jpeg" /></div>
                            <div class="cropArea">
                                <ui-cropper image="vm.startImage1" area-type="rectangle" area-min-size="200" init-max-area="true" result-image="vm.item.croppedImage1" result-image-size="500"></ui-cropper>
                            </div>  
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success" ng-click="vm.savePhoto(1)" data-dismiss="modal" ">Save</button>
                        </div>
                    </div>

                </div>
            </div>





            <div id="myModal2" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                            <h3>Upload Logo</h3>
                            <div>Select a Logo file: <input type="file" id="fileInput2" accept="image/x-png,image/gif,image/jpeg" /></div>
                            <div class="cropArea">
                                <ui-cropper image="vm.startImage2" area-type="rectangle" area-min-size="200" init-max-area="true" result-image="vm.item.croppedImage2" result-image-size="500"></ui-cropper>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success" ng-click="vm.savePhoto(2)" data-dismiss="modal" ">Save</button>
                        </div>
                    </div>

                </div>
            </div>









            <div id="myModal3" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                            <h3>Upload Logo</h3>
                            <div>Select a Logo file: <input type="file" id="fileInput3" accept="image/x-png,image/gif,image/jpeg" /></div>
                            <div class="cropArea">
                                <ui-cropper image="vm.startImage3" area-type="rectangle" area-min-size="200" init-max-area="true" result-image="vm.item.croppedImage3" result-image-size="500"></ui-cropper>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success" ng-click="vm.savePhoto(3)" data-dismiss="modal" ">Save</button>
                        </div>
                    </div>

                </div>
            </div>




            <div id="myModal4" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                            <h3>Upload Logo</h3>
                            <div>Select a Logo file: <input type="file" id="fileInput4" accept="image/x-png,image/gif,image/jpeg" /></div>
                            <div class="cropArea">
                                <ui-cropper image="vm.startImage4" area-type="rectangle" area-min-size="200" init-max-area="true" result-image="vm.item.croppedImage4" result-image-size="500"></ui-cropper>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success" ng-click="vm.savePhoto(4)" data-dismiss="modal" ">Save</button>
                        </div>
                    </div>

                </div>
            </div>
















        </div> <!--end of controller-->
    </div>







</body>
</html>























